/* assignmrnt 1*/

/*
div {
    width: 500px;
    margin : 20px auto;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8a2be3;
    background-color:blueviolet;
    background-color: rgb(138, 43, 227);
}
.assign-1-shape-2 {
    background-color: rgba(138, 43, 227, 0.5);
}
.assign-1-shape-3 {
    background-color: rgba(138, 43, 227, .1);
} */
/*-----------------------------------------------*/
/* assignmrnt 2*/

/* div {
    width: 400px;
    height: 400px;
    background-image: url(../images/bg.png);
    background-color:#ededed ;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 20px  20px ;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.assign-1-shape-1 {
    background-repeat: no-repeat;
}
.assign-1-shape-2 {
    background-repeat:repeat-y ;
}
.assign-1-shape-3 {
    background-repeat:repeat-x ;
}
.assign-1-shape-4 {
    background-repeat: repeat;
} */
/*-----------------------------------------------*/
/* assignmrnt 3*/

/* div {
    width: 400px;
    height: 400px;
    background-image: url(../images/bg.png);
    background-color:#ededed ;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 20px  20px ;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.assign-1-shape-1 {
    background-repeat: no-repeat;
    
}
.assign-1-shape-2 {
    background-repeat:repeat-y ;
    background-position: top right;
}
.assign-1-shape-3 {
    background-repeat:repeat-x ;
    background-position: bottom left;
}
.assign-1-shape-4 {
    background-repeat: repeat;
} */
/*-----------------------------------------------*/
/* assignmrnt 4*/

div {
    width: 400px;
    height: 400px;
    background-image: url(../images/bg.png);
    background-color:#ededed ;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 20px  20px ;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 80%;
}
.assign-1-shape-1 {
    background-repeat: no-repeat;
}
.assign-1-shape-2 {
    background-repeat:repeat-y ;
    background-position: top right;
}
.assign-1-shape-3 {
    background-repeat:repeat-x ;
    background-position: bottom left;
}
.assign-1-shape-4 {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}