/* assignment1 */
/* body {
    text-align: center;
}
div {
    width: 300px;
    height: 60px;
    box-sizing:border-box;
    margin:20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    background-color: #eee;
}
div:empty{
    background-color: red;
} */

/* assignment2 */
div {
    background-color: #d6d6d6;
    text-align: center;
    padding: 20px;
    padding-left: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

div::first-letter { 
    background-color: #fc0200;
    margin-left: -15px;
    margin-right: 10px;
    padding: 15px 10px;
    color: white;
}
/* div::first-letter {
    display:block;
    position: absolute; 
    background-color: #fc0200;
    height: 40px;
    width: 30px;
    top: 50%;
    left: -15px;
    margin-top: -20px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 50px;
    padding: 10px;
    color: white;
} */

/* div::first-letter {
    display: inline-block;
    position: relative;
    background-color: #fc0200;
    height: 40px;
    width: 30px;
    top: 50%;
    left: -15px;
    margin-top: -20px;
    box-sizing: border-box;
    padding-top: 10px;
    color: white;
} */

/* assignment2 */
/* p {
    width: 400px;
    padding: 15px ;
    background-color:#efefef ;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-left: 4px solid #eb1f63;
    margin: 10px auto ;
}
p::before {
    content: "";
    position:absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: -23px;
    margin-top: -11px;
    border-width: 10px;
    border-style: solid;
    border-color:transparent #eb1f63 transparent transparent;
}
p::after {
    content: attr(data-person);
    position:absolute;
    box-sizing: border-box;
    padding-top: 5px;
    width: 65px;
    height: 30px;
    top: 50%;
    text-align: center;
    left: -90px;
    margin-top: -15px;
    background-color:#dedcdd ;

} */

/* assignment3 */
p {
    counter-increment: counter;
    width: 400px;
    padding: 15px ;
    background-color:#efefef ;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-right: 4px solid #f54237;
    margin: 10px auto ;
}
p::before {
    content: counter(counter);
    position:absolute;
    padding: 15px ;
    color: white;
    background-color:#f54237 ;
    top: 50%;
    left: -38.91px;
    margin-top: -24.285px;
}
